<dom-module id="main-app">
  <style>
    :host {
      display: block;

    --primary-color: var(--paper-deep-orange-500);
    --light-primary-color: var(--paper-deep-orange-100);
    --dark-primary-color: var(--paper-deep-orange-700);
    --accent-color: var(--paper-deep-orange-a200);
    --light-accent-color: var(--paper-deep-orange-a100);
    --dark-accent-color: var(--paper-deep-orange-a400);

    }

    .breadcrumb {
      display: inline-block;
    }

    .breadcrumb div {
      float: left;
    }

    .breadcrumb div:after {
      content: "/";
    }
    .breadcrumb div:last-child:after {
      content: "";
    }

    #testDialog {
      height: 80%;
      width: 80%;
    }
  </style>

  <template>
    <paper-header-panel class="flex">
      <paper-toolbar class="medium-tall">
        <paper-tabs id='test' selected="{{selected}}" attr-for-selected="nav-id">
          <paper-tab nav-id="dashboard">Dashboard</paper-tab>
          <paper-tab nav-id="display">Display</paper-tab>
          <paper-tab nav-id="tab3">Tab 3</paper-tab>
        </paper-tabs>
      </paper-toolbar>

      <iron-pages attr-for-selected="name" selected="{{selected}}" items="{{debug}}">
        <div name="dashboard">
          <paper-input label="Type something..." value="{{text}}"></paper-input>
          <p>
            Text: <span>{{text}}</span><br />
            Reversed: <span>{{reverseText(text)}}</span>
          </p>
        </div>
        <div name="display">

        </div>
        <div name="tab3">Page 3</div>
      </iron-pages>
    </paper-header-panel>

    <paper-dialog id="testDialog" modal>
      <h2>Header</h2>
      <iron-selector selected="{{dialogSelected}}" attr-for-selected="data-nav-id" class="breadcrumb">
        <div data-nav-id="tab1">Tab 1</div>
        <div data-nav-id="tab2">Tab 2</div>
        <div data-nav-id="tab3">Tab 3</div>
      </iron-selector>
      <iron-pages attr-for-selected="name" selected="{{dialogSelected}}">
        <div name="tab1">
          a
        </div>
        <div name="tab2">
          b
        </div>
        <div name="tab3">
          c
        </div>
      </iron-pages>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button dialog-confirm autofocus>Accept</paper-button>
      </div>
    </paper-dialog>
  </template>
</dom-module>
