/* Copyright (c) 2016, Jacob Burroughs. All rights reserved. Use of this source code */
/* is governed by a BSD-style license that can be found in the LICENSE file. */

body {
    font-family: RobotoDraft, sans-serif;
    color: #333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}